<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form">
            <h3>Activation</h3>            
            <div class="alert alert-danger" role="alert" *ngIf="showErrMsg">
                {{errMsg}}
            </div>
            <div class="alert alert-success" *ngIf="confirm">
                {{confirm}}
                <br/>
                Go to
                <a routerLink="/login" class="Link">Login</a>
            </div>
            <app-spinner></app-spinner>
        </div>        
    </div>
</div>